code-samples/n8n/daily-handoff/dailyhandoff.json
{
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 8
            },
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -784,
        0
      ],
      "id": "53547a20-66ef-4458-a425-16fac8afea06",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "resource": "user",
        "owner": {
          "__rl": true,
          "value": "donnietaylor",
          "mode": "list",
          "cachedResultName": "donnietaylor",
          "cachedResultUrl": "https://github.com/donnietaylor"
        },
        "returnAll": true
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        -128,
        -288
      ],
      "id": "c1277038-8fb2-44c4-9383-bd8d4ec79fb8",
      "name": "Get a user's repositories",
      "webhookId": "517fcf5b-ccf0-47cf-a793-e9f4df1c20ed",
      "credentials": {
        "githubApi": {
          "id": "WZDWYLLBgpCG4uiq",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "resource": "repository",
        "operation": "getPullRequests",
        "owner": {
          "__rl": true,
          "value": "donnietaylor",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "={{ $('Get a user\\'s repositories').item.json.name }}",
          "mode": "name"
        },
        "getRepositoryPullRequestsFilters": {}
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        320,
        -192
      ],
      "id": "2b439fb7-a118-4e65-9cb0-004ec5289858",
      "name": "Get pull requests of a repository",
      "webhookId": "8f4439b8-f612-4c15-80cc-eea46562b08d",
      "credentials": {
        "githubApi": {
          "id": "WZDWYLLBgpCG4uiq",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 2
          },
          "conditions": [
            {
              "id": "524b2a32-a10b-41e1-8b2e-999b728413a0",
              "leftValue": "={{ $json.has_issues }}",
              "rightValue": "true",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "6f8a6508-eda2-4ffe-907f-1939cbf08c36",
              "leftValue": "={{ $json.open_issues }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        96,
        -384
      ],
      "id": "20c35744-60db-477a-b90b-465c18323603",
      "name": "If"
    },
    {
      "parameters": {
        "resource": "repository",
        "owner": {
          "__rl": true,
          "value": "donnietaylor",
          "mode": "name"
        },
        "repository": {
          "__rl": true,
          "value": "={{ $json.name }}",
          "mode": "name"
        },
        "getRepositoryIssuesFilters": {}
      },
      "type": "n8n-nodes-base.github",
      "typeVersion": 1.1,
      "position": [
        320,
        -384
      ],
      "id": "63e9b448-09ac-40ff-9b62-94430ba24934",
      "name": "Get issues of a repository",
      "webhookId": "9e4d9fe7-09b0-4ddd-9e8d-5d9a6a085928",
      "credentials": {
        "githubApi": {
          "id": "WZDWYLLBgpCG4uiq",
          "name": "GitHub account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "filtersUI": {
          "values": {
            "filters": {
              "receivedAfter": "={{ $json.Past8Hours }}"
            }
          }
        },
        "options": {}
      },
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 2,
      "position": [
        320,
        192
      ],
      "id": "24a12adc-6d25-425e-9626-2ee53f0b7654",
      "name": "Get many messages",
      "webhookId": "17fa9cf7-bf31-4b29-9d6c-15cba8813a39",
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "0CdCksnSQbSPwfRS",
          "name": "Microsoft Outlook account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        1296,
        128
      ],
      "id": "c56a055c-abc3-482a-a342-7baa94e6f54c",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "Yo1slgHJF0JaZgzJ",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "options": {
          "summarizationMethodAndPrompts": {
            "values": {
              "summarizationMethod": "stuff",
              "prompt": "=You are my daily assistant.\n\nYou are given raw JSON data describing GitHub issues/PRs, emails, calendar events, and items from the Azure RSS feed:\n\n{text}\n\nFrom ALL of this, pick only the most important things I should focus on today.\n\nRules:\n- DO NOT invent any issue numbers, PR numbers, dates, times, or names that are not present in the JSON.\n- If something is missing (like an ID or time), write \"unspecified\" instead of guessing.\n- Prefer urgency, blockers, deadlines, and anything that needs my action.\n- Ignore low-signal or repetitive items.\n\nOutput a SINGLE markdown document with exactly three sections:\n\n# GitHub — key issues and PRs\n# Email — important messages\n# Calendar — upcoming events\n# Azure RSS — updates from the last 7 days\n\nFor each section:\n- At most 5 bullet points.\n- One short line per bullet.\n- Use the exact IDs/names from the JSON when available.\n"
            }
          }
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chainSummarization",
      "typeVersion": 2.1,
      "position": [
        1216,
        -96
      ],
      "id": "b3c63e68-80b2-40fd-b849-5dd5852c7bb1",
      "name": "Summarization Chain"
    },
    {
      "parameters": {
        "resource": "calendar",
        "operation": "get",
        "calendarId": {
          "__rl": true,
          "value": "AAMkAGQyNWViNTUyLTIyNjUtNDNhMC1hOGQyLTk4NTM5NjFlZTNlMABGAAAAAADmeuDKYQoERolnjQAymRNhBwCwSDvQMwpPRYwbz1ySR_DIAAAAAAEGAACwSDvQMwpPRYwbz1ySR_DIAAAAAD4DAAA=",
          "mode": "list",
          "cachedResultName": "Calendar"
        }
      },
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 2,
      "position": [
        96,
        0
      ],
      "id": "6ba9c3bc-352b-4e12-ba5c-71d379d25ab3",
      "name": "Get a calendar",
      "webhookId": "17482e7b-2ef9-411b-b261-60cac4223dad",
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "0CdCksnSQbSPwfRS",
          "name": "Microsoft Outlook account"
        }
      }
    },
    {
      "parameters": {
        "resource": "event",
        "fromAllCalendars": false,
        "calendarId": {
          "__rl": true,
          "value": "={{ $json.id }}",
          "mode": "id"
        },
        "filters": {
          "custom": "={{ $('Code in JavaScript').item.json.eventFilter }}"
        }
      },
      "type": "n8n-nodes-base.microsoftOutlook",
      "typeVersion": 2,
      "position": [
        320,
        0
      ],
      "id": "7e8e9b3c-0e2a-45be-95b3-c4217ca71122",
      "name": "Get many events",
      "webhookId": "67c959db-7555-48f3-a75e-6a68d0cf96f8",
      "credentials": {
        "microsoftOutlookOAuth2Api": {
          "id": "0CdCksnSQbSPwfRS",
          "name": "Microsoft Outlook account"
        }
      }
    },
    {
      "parameters": {
        "operation": "subtractFromDate",
        "magnitude": "={{ $json.timestamp }}",
        "timeUnit": "hours",
        "duration": 8,
        "outputFieldName": "Past8Hours",
        "options": {}
      },
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        96,
        192
      ],
      "id": "0620f297-9a2f-4ad0-8dc7-cdf17d5c83cd",
      "name": "Past 8 Hours"
    },
    {
      "parameters": {
        "operation": "addToDate",
        "magnitude": "={{ $('Schedule Trigger').item.json.timestamp }}",
        "timeUnit": "weeks",
        "duration": 12,
        "outputFieldName": "Next 12 Hours",
        "options": {}
      },
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        -352,
        0
      ],
      "id": "59c6ccd3-5dde-440f-8aec-c5bcc40c2ea2",
      "name": "Next 12 Hours"
    },
    {
      "parameters": {
        "jsCode": "const now = new Date($('Schedule Trigger').item.json.timestamp).toISOString();\nconst next = new Date($('Next 12 Hours').item.json[\"Next 12 Hours\"]).toISOString();\n\nreturn [\n  {\n    json: {\n      eventFilter: `start/dateTime ge '${now}' and start/dateTime le '${next}'`\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -128,
        0
      ],
      "id": "bfb084bc-3f0c-4f8b-8e28-95991c37595b",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "8d5e3408-2477-4d36-a9ec-12764744f53e",
              "name": "repo",
              "value": "={{ $json.repository_url }}",
              "type": "string"
            },
            {
              "id": "66885410-a3bb-41f2-9962-66b1fe30fa61",
              "name": "user",
              "value": "={{ $json.user.login }}",
              "type": "string"
            },
            {
              "id": "d611eab6-5fc9-49d6-9792-1aa5b5cc7ea1",
              "name": "body",
              "value": "={{ $json.body }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        544,
        -384
      ],
      "id": "0b51518c-0a8e-40a4-b58c-0ae59306728d",
      "name": "Format Github Issues"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3b266a17-1c23-4270-9493-3e3bd6510568",
              "name": "Repo",
              "value": "={{ $json.head.repo.name }}",
              "type": "string"
            },
            {
              "id": "cc95f804-8133-4be0-b86d-811b30c09375",
              "name": "PR_URL",
              "value": "={{ $json.url }}",
              "type": "string"
            },
            {
              "id": "ee4f56de-a211-4f9d-a6c8-2580d8770f6c",
              "name": "state",
              "value": "={{ $json.state }}",
              "type": "string"
            },
            {
              "id": "1e196433-8113-4d34-934e-e43b91120e4e",
              "name": "last_update",
              "value": "={{ $json.updated_at }}",
              "type": "string"
            },
            {
              "id": "54dc6828-d250-43db-93de-3b577dd795b8",
              "name": "title",
              "value": "={{ $json.title }}",
              "type": "string"
            },
            {
              "id": "674e839e-5579-4e30-94b3-e1f09b02b90f",
              "name": "body",
              "value": "={{ $json.body }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        544,
        -192
      ],
      "id": "3ad51236-58a3-4124-8614-560c03a0378a",
      "name": "Format Github PRs"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "40dd123a-58f8-43fa-96ba-30165839f631",
              "name": "organizer",
              "value": "={{ $json.organizer.emailAddress.name }}",
              "type": "string"
            },
            {
              "id": "eb47893e-705a-4437-b824-a481641ee947",
              "name": "start",
              "value": "={{ $json.start.dateTime }}",
              "type": "string"
            },
            {
              "id": "41071ea1-490f-4d4d-82eb-230fdc69bc95",
              "name": "end",
              "value": "={{ $json.end.dateTime }}",
              "type": "string"
            },
            {
              "id": "12264772-8607-49e1-8bad-b251632f0910",
              "name": "timezone",
              "value": "={{ $json.start.timeZone }}",
              "type": "string"
            },
            {
              "id": "64468039-dac5-457f-a2fe-1110216cc8e4",
              "name": "subject",
              "value": "={{ $json.subject }}",
              "type": "string"
            },
            {
              "id": "ca45fe13-4b8f-4658-a4fb-51967adcf1ed",
              "name": "body",
              "value": "={{ $json.bodyPreview }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        544,
        0
      ],
      "id": "0e3b994c-c069-4a95-975f-185b35ece97d",
      "name": "Format Calendar Events"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2d333e37-5e4c-42c4-8747-e3885a4dd8bd",
              "name": "subject",
              "value": "={{ $json.subject }}",
              "type": "string"
            },
            {
              "id": "dc4e72f4-a747-46dd-884d-9d2f2537ab27",
              "name": "body",
              "value": "={{ $json.bodyPreview }}",
              "type": "string"
            },
            {
              "id": "dd58b39f-5694-4212-9d4f-02a7f4c35b13",
              "name": "from",
              "value": "={{ $json.from }}",
              "type": "string"
            },
            {
              "id": "9e62840d-2bb0-49c9-829d-87c07ac1c330",
              "name": "to",
              "value": "={{ $json.to }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        544,
        192
      ],
      "id": "3a4195f4-a19d-4802-a08e-35ca5f26f902",
      "name": "Format Emails"
    },
    {
      "parameters": {
        "numberInputs": 5
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        768,
        -128
      ],
      "id": "f27f796d-ea09-49dd-a9bb-c68d296898c7",
      "name": "Merge"
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        992,
        -96
      ],
      "id": "6b717cd9-e01c-4415-9fc9-b33490d3a0c7",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "url": "https://www.microsoft.com/releasecommunications/api/v2/azure/rss",
        "options": {
          "customFields": ""
        }
      },
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1.2,
      "position": [
        -400,
        272
      ],
      "id": "b8affc3d-7a5d-43b1-8286-ad66c1115f60",
      "name": "RSS Read"
    },
    {
      "parameters": {
        "operation": "subtractFromDate",
        "magnitude": "={{ $json.timestamp }}",
        "duration": 7,
        "options": {}
      },
      "type": "n8n-nodes-base.dateTime",
      "typeVersion": 2,
      "position": [
        -592,
        208
      ],
      "id": "ce1d428d-94a0-4a93-b799-2eaa61ec9ba4",
      "name": "Past 7 Days"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "4a54bde8-c780-46ac-9f85-441ccb84ea80",
              "leftValue": "={{ $json.isoDate }}",
              "rightValue": "={{ $('Past 7 Days').item.json.newDate }}",
              "operator": {
                "type": "dateTime",
                "operation": "after"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        544,
        384
      ],
      "id": "3a735eb2-fb2f-4998-b490-b82cd731bfb4",
      "name": "If1"
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Get a user's repositories",
            "type": "main",
            "index": 0
          },
          {
            "node": "Past 8 Hours",
            "type": "main",
            "index": 0
          },
          {
            "node": "Next 12 Hours",
            "type": "main",
            "index": 0
          },
          {
            "node": "Past 7 Days",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a user's repositories": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get pull requests of a repository",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get pull requests of a repository": {
      "main": [
        [
          {
            "node": "Format Github PRs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Get issues of a repository",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Get issues of a repository": {
      "main": [
        [
          {
            "node": "Format Github Issues",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many messages": {
      "main": [
        [
          {
            "node": "Format Emails",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Summarization Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Summarization Chain": {
      "main": [
        []
      ]
    },
    "Get a calendar": {
      "main": [
        [
          {
            "node": "Get many events",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get many events": {
      "main": [
        [
          {
            "node": "Format Calendar Events",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Past 8 Hours": {
      "main": [
        [
          {
            "node": "Get many messages",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Next 12 Hours": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Get a calendar",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Github Issues": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Github PRs": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Format Calendar Events": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Format Emails": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 3
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Summarization Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "RSS Read": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Past 7 Days": {
      "main": [
        [
          {
            "node": "RSS Read",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 4
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "8629a4acb7654d87639e7b473d1ed4c562044fceb18068e37564c1cc3fbb536d"
  }
}
